

<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron hero-spacer">
    <h1>Welcome<br>
      <small>Calcul frais kilométrique</small></h1>
    <p><a href="/statements" class="btn btn-primary btn-large">Listing des trajets</a>
    </p>
  </header>

  <hr>

  <!-- Title -->
  <div class="row">
    <div class="col-lg-12">
      <h3>Nos services</h3>
    </div>
  </div>


  <!-- Page Features -->
  <div class="row text-center">
    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="http://placehold.it/800x500" alt="">
        <div class="caption">
          <h3>Frais kilométrique</h3>
          <p>Calcul de vos dépenses encourues lors de déplacements professionnels </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="http://placehold.it/800x500" alt="">
        <div class="caption">
          <h3>Listing des trajets</h3>
          <p>Historique de vos trajets, Exportez facilement une déclaration fiable pour votre expert-comptable.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="http://placehold.it/800x500" alt="">
        <div class="caption">
          <h3>Statistiques</h3>
          <p>Distances, nombre de RDV, carburant et CO² détaillés par période et véhicule.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="http://placehold.it/800x500" alt="">
        <div class="caption">
          <h3>Carte</h3>
          <p>Carte Mappy pour vos itinéraires</p>
        </div>
      </div>
    </div>
  </div>


  <hr>


</div>
