<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li>
        <a href="/">Accueil <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
      </li>
      <li>
        <a href="/statements">Listing trajets <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
      </li>
      <li>
        <a href="/statements">Statistiques <span class="glyphicon glyphicon-stats" aria-hidden="true"></span></a>
      </li>
      <li>
        <a href="/statements">Carte <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a>
      </li>
      <% unless current_user %>
      <li>
        <a href="/users/sign_in">Connexion <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a>
      </li>
      <% else %>
      <li>
        <%= link_to destroy_user_session_path, method: :delete, :class => 'navbar-link' do %>
          Logout
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        <% end %>
      </li>
      <% end %>
      <li>
        <a>Bienvenue <%= current_user.email %></a>
      </li>
    </ul>
  </div>
  <div class="dropdown ">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Mon profil
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Mes trajets</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="/users/edit">Modifier</a></li>
      <li><a href="#">Paramétres</a></li>
      <li><a href="#">Déconnexion</a></li>
    </ul>
  </div>
</div>
</nav>
<br>
